<% provide(:title, "Sign In") %>
<h1>New Beer 4 Me</h1>

<div align="center">
  <a href="#" class='untappd' data-role="button">Sign in with Untappd</a>
  <div><b>OR</b></div>
  <a href="/signup" class="signUp" data-role="button">Sign up with email</a>
  <div><b>OR</b></div>
  <a href="#" class="logIn" data-role="button">Log in</a>
</div>
