<div data-role="collapsible" data-content-theme="c">
  <h3><%= beer.result[:untappd] %></h3>
	<% beer.result.each do |key, result| %>
    <p><%= content_tag(:span, result, :class => key) unless key == :untappd %></p>
  <% end %>
</div>