<div data-role="collapsible" data-content-theme="c" class="beer<%= beer.id if beer.id%>">
  <h3><%= beer.result[:untappd] %></h3>
	<% beer.result.each do |key, result| %>
    <%= content_tag(:p, result, :class => key) %> 
  <% end %>
</div>