<% provide(:title, "Search") %>
<div data-role="navbar">
	<ul>
		<li><a title="beer" href="#" data-role="button" class="ui-btn-active">Beer</a></li>
		<li><a title="venue" href="#" data-role="button">Venue</a></li>
	</ul>
</div>

<input id="search" placeholder="Beer..." name="search[beer]" size="30" type="text" autocorrect="off" autocapitalize="off">

<div data-role="collapsible-set" class="beers">
</div>

<div data-role="collapsible-set" class="venues">
</div>