<div data-role="header">
  <% if @user_signed_in %>
    <select id="select-choice"  data-native-menu="false">
      <option value="standard">Search</option>
      <option value="rush">Settings</option>
      <option value="rush">Log Out</option>
    </select>        
    <h1>Search</h1>
  <% else %>
    <h1>Sign In</h1>
  <% end %>
</div><!-- /header -->