<div data-role="header">
  <% if yield(:title) == "Sign In" %>
    <h1>Sign In</h1>
  <% else %>
    <% if yield(:title) == "Search" %>
      <a href="/settings">Settings</a>
    <% else %>
      <a href="/">Back</a>
    <% end %>
    <h1><%= yield(:title) %></h1>
    <a href="/logout">Log Out</a>
  <% end %>
</div>