<div data-role="header">
  <% if yield(:title) == "Sign In" %>
    <h1>Sign In</h1>
  <% else %>
    <% if yield(:title) == "Search" %>
      <%= link_to "Settings", settings_path %>
    <% else %>
      <%= link_to "Back", root_path %>
    <% end %>
    <h1><%= yield(:title) %></h1>
    <%= link_to "Log Out", logout_path, "data-icon" => "delete", "class" => "ui-btn-right" %>
  <% end %>
</div>